<div class="jumbotron">
  <h1>Apply to Rails Girls LA</h1>
  <h3>October 21st & 22nd 2016</h3>
  <h3 class="lead">Application deadline: October 2nd</h3>
ONLY 25 applicants will be accepted.
<br/>Applicants must be at least 13 years old.<br/>
Beginners will be given priority.
<br/>Applications will be reviewed as they arrive.</p>
  <p><a class="btn btn-lg btn-danger" href="./users/new" role="button">Sign up today to Apply &#10084;</a></p>
</div>
