<div class="jumbotron">
  <h1>Apply to Rails Girls LA October 21st & 22nd 2016</h1>
  <p class="lead">Application deadline: October 2nd<br/>
ONLY 25 applicants will be accepted. Applicants must be at least 13 years old.<br/>
Beginners will be given priority. Applications will be reviewed as they arrive.</p>
  <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
</div>
