<h1>Apply to Rails Girls LA October 21st & 22nd 2016</h1>
<h2>Application deadline: October 2nd</h2>
<h3>ONLY 25 applicants will be accepted. Applicants must be at least 13 years old.</h3>

<h3>Beginners will be given priority. Applications will be reviewed as they arrive.</h3>

<p>Because we can only accept 25 students we want to make sure that all of them are motivated and interested.</p>
<ul>
  <li>All applicants must finish a series of four short tutorials to be considered.</li>
  <li>Applicants will be accepted when they submit proof of completion of the tutorials.</li>
  <li>The tutorials are fun, for beginners and will help you get the most out of the workshop so don't stress out, <b>it's not a test. :)</b></li>
</ul>

<%= render 'form', user: @user %>

<%= link_to 'Back', users_path %>
